[2020-10-12 10:54] laubai opened #2 "Edit the readme file"
Readme file needs to be edited to be consistent with the Call for Code starter kit.

[2020-10-19 13:10] sforsyth089 commented on #2
Going to close since we made many updates, thank you!

[2020-10-19 13:10] #2 closed

[2020-12-08 15:17] amfred opened #12 "Change the "master" branch to "main""

[2020-12-08 15:29] johnwalicki commented on #12
For Open-Sentencing-* repos that have completely merged branches, its easy to rename master to main
As of 12-08-20, I see that I can rename the top level and aggregrator repos but the UI and Model repos have open branches. Renaming master to main before those PRs are merged will cause some merge confusion.

I'll rename the first two and work with the teams on the others

[2021-01-22 17:43] upkarlidder opened #13 "Populate issues in github repo"
Create issues to track ideas, enhancements, tasks, or bugs. Use the [default github labels](https://docs.github.com/en/github/managing-your-work-on-github/managing-labels#about-default-labels) `good first issue` and `help wanted` to flag issues that community can help with.

| Label | Description|
| :-------------: | :-------------: |
| bug | Indicates an unexpected problem or unintended behavior

[2021-01-29 17:15] BchanceIBM opened #14 "For help wanted issues, please refer to each sub-repo for a specific of issues"
Each of our repos have a set of issues that we need help with, please refer to these repos here.  Also, please make sure to slack us with questions

Slack:  https://app.slack.com/client/TAHDYCZ6H/C01DJ8J1QP2/thread/C01D7MS0G0K-1603572137.017300

UI:  https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-UI/issues
Aggregator:  https://github.com/Call-for-Code-for-Racial-Justice/Open-S

[2021-01-29 17:24] amfred opened #15 "Internationalization (I18N) enablement"
We woud like to be able to translate what users see in the future. Enabling the repos for translation is step 1 of that.

[2021-01-29 17:25] amfred opened #16 "Pull out English strings into a translation file"
After enabling the repos for translation, we can pull out the hardcoded English strings and put them into a translated strings file.

Depends on https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/15 - we have to choose the open source translation library we want to use first.  Then the intent of this issue (#16) is to pull all of the English strings into a file in whatever

[2021-01-29 17:27] amfred opened #17 "Provide translated strings"
After #16 is working with English strings, we need translated strings for other languages.

[2021-01-29 17:31] amfred opened #18 "In the READMEs, add add quick start guides for Mac and Windows."
A quick start guide is essentially a series of commands you can run from a "clean" directory to get the basic functionality running.
This will make it easier for new adopters to get started, if they're not already comfortable with Docker.
Links to more detailed setup instructions if needed would be good.

[2021-01-29 17:37] amfred opened #19 "Support alternative methods of authentication"
Getting started with IBM ID SSO can be difficult for non-IBMers.
We should add support for other authentication providers.
The UI and Aggregator would need to both support the same providers to get this working end to end.

[2021-02-11 04:48] johnwalicki commented on #12
I've renamed master to main.
If you have a local clone, you'll want to rebase.

[2021-02-11 04:48] #12 closed

[2021-03-02 22:17] RickPoleshuck commented on #15
This seems like a good first project. Does Github let you add dependencies? My wife might help with Spanish language translations, but that issue seems dependent on this one.

[2021-03-02 22:37] amfred commented on #15
You're right - we at least need to get all of the English strings in one file first.  Issue #16
Then it's not hard to create another copy of the file with the Spanish in it.
The exact file format depends on the translation tool we choose; still open to suggestions.

Heh. Github Enterprise+Zenhub (which is what I'm used to) lets us add dependencies, but I don't see how to do it here. Anyone else kn

[2021-03-02 22:39] amfred commented on #15
By the way, the intent of this issue #15 is to choose the open source translation library.  Then #16 is to put the English strings into the format that the library needs.  And #17 is for a translation of that file into Spanish (or any other language we can get).

[2021-03-02 22:45] amfred commented on #15
We might well have to choose different translation libraries/plug-ins for different repos because they use different programming languages, but if we choose one for the UI to start with that uses a standard file format, maybe we can at least use the same file format for the other repos.

[2021-03-02 22:45] RickPoleshuck commented on #15
I have been working with jHipster <https://www.jhipster.tech/>. One of
the things I like about the framework is that they have made good
choices on which technologies to use. Does it make sense to create a
slack channel to discuss #15?

On 3/2/21 4:39 PM, Ann Marie Fred wrote:

[2021-03-02 22:49] RickPoleshuck commented on #15
I am very new. Excuse me if I ask stupid questions. Why would you have
translation in anything other than the UI? Legal documents might need to
be translated, but that isn't part of the code base.

On 3/2/21 4:45 PM, Ann Marie Fred wrote:

[2021-03-02 22:52] blueivywave commented on #15
It sounds like the intent of this task is to provide content for multiple languages. Correct?

If that is the case, what APIs are being considered for this, or are being evaluated?

[2021-03-02 22:53] amfred commented on #15
The lower level components like the Bias Detection Engine might end up generating text too, so I could see us passing a language code to them and getting back translated text.  It's fine to start with the UI first since we know that needs it for sure.

[2021-03-02 22:56] amfred commented on #15
You mean like Google translate?

[2021-03-02 23:01] RickPoleshuck commented on #15
Again, I am very new, but since you asked...

I would use @ngx-translate. As I said earlier, I like jHipster's choices.

Google translate might be useful on the backend.

On 3/2/21 4:56 PM, Ann Marie Fred wrote:

[2021-03-02 23:17] blueivywave commented on #15
Have you looked into IBM's Language Translator? It instantly translates web content. Here is the link: https://www.ibm.com/watson/services/language-translator/

[2021-03-03 15:24] RickPoleshuck commented on #15
This is from an Angular project I am toying with:
     html:

         <span jhiTranslate="game.title">Game</span>

     i18n:

         "game": {
             "title": "Game",
             "createLabel": "Create a new Game",

I believe that this is the type of translation needed for the front end
UI. This kind of translation is all hard coded in various languages and
very efficient.

Translations

[2021-03-05 14:34] RickPoleshuck opened #20 "Investigate MeasuresForJustice as data source"
Research the possibility of coordinating with https://measuresforjustice.org/ about possible data sources? They don't have current data on their website. Newest seems to be 2017.

[2021-03-12 17:45] amfred commented on #15
I recently learned that Angular has a built-in translation framework, so I think we should start there with the UI, because it's built in Angular.
https://angular.io/guide/i18n

[2021-03-12 18:17] RickPoleshuck commented on #15
This article, https://phrase.com/blog/posts/best-libraries-for-angular-i18n/ , says that the Angular builtin has caught up with NGX-Translate. I am happy with either.

[2021-03-12 19:53] sforsyth089 commented on #20
We will take a look!

[2021-03-12 20:35] RickPoleshuck commented on #15
I would get started with the implementation, but I haven't fully set up my development environment. authentication.service.ts and client_id is still confusing to me. Does it make sense for me to ask for help?

[2021-07-06 20:36] demilolu commented on #14
@bbbozzz

[2021-07-22 20:46] upkarlidder commented on #20
Also tagging @Sabine-Justilien 👋🏽

[2021-07-22 21:42] RickPoleshuck commented on #20
I would be actually interested in helping with this project, but replies to my post from 5 months ago tells me the project is not very active. I also was unable to set up a test and development environment without an ibm.com email address.

[2021-07-23 14:49] demilolu commented on #20
hey @RickPoleshuck let's connect further on this - we're still working on this, but been planning priorities. I'm going to message you in the slack community to get you connected.

[2021-07-23 14:56] demilolu commented on #20
I think it might also be clearer if we have an assignee here. @sforsyth089 was this something you looked into already?

[2021-07-23 15:35] RPoleshuck commented on #20
I am not currently monitoring the slack channel.
RickPoleshuck@gmail.com

[2021-07-23 15:41] sforsyth089 commented on #20
Hi all (and Rick) - We would like your help. we were assigning owners internally as we start planning our roadmap for updates.  We will reach out!

[2021-08-03 12:54] carleyreardon3 commented on #15
Not sure if you are still looking for ideas on this, or if this would even be something you consider, but if you considered using machine translation for this and wanted to make sure the model works well on the type of language you're using (legal language, etc), you could try fine tuning a machine translation model on a set of english sentences and a small set of manually translated ones. Hugging

[2021-08-06 17:17] upkarlidder commented on #13
Closing. This task was completed earlier in the year.

FYI @sforsyth089 @demilolu

[2021-08-06 17:17] #13 closed

[2021-08-06 17:20] sforsyth089 opened #24 "Mobile App (consider as an Option)"

[2021-08-06 18:04] sforsyth089 commented on #19
This is not stale.  Yochana is actively working on it.  She will provide an update.

[2021-08-06 18:06] sforsyth089 commented on #14
Refreshing!  This helps point new helpers to issues to work on.

[2021-08-09 15:40] yochanah commented on #19
AppId Authentication work is in progress. Troubleshooting issues related to redirect.

[2021-08-13 17:38] yochanah commented on #19
UI now supports AppId Authentication

[2021-08-16 02:28] upkarlidder commented on #19
This work is done. I added another [PR](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-UI/pull/46) to remove old code. Will close this issue once that is meged.

[2021-08-20 17:55] #19 closed

[2021-08-21 00:33] upkarlidder commented on #14
hmm, looks like stalebot did not keep the issue open even though @sforsyth089 commented on this issue. Going to see why that happened.

Btw, on slack, it says `Issue closed by BchanceIBM` @BchanceIBM. But here it says the bot closed it.

[2021-08-25 11:22] amfred commented on #18
Still useful...

[2021-08-25 11:27] amfred commented on #16
Still useful.

[2021-08-25 11:27] amfred commented on #17
Still useful.

[2021-08-25 11:46] amfred commented on #20
Still a good idea.

[2021-08-27 17:10] demilolu opened #25 "Week of August 27th"
**Sprint Priorities**  updated 9/3/21

- [ ] Documentation updates (@demilolu)
- [ ] CI/CD for aggregators to deploy easily to cloud
- [x] Rick to create list of reporters (sent in Slack, IBM team has to check about contacting reporters)
- [ ] Generate swagger from Java classes Rick
- [ ] App ID authentication for aggregator @yochanah
- [x] Demo of Akilah's UI changes: updating actual UI to be sim

[2021-09-03 16:23] sforsyth089 commented on #24
Per discussions with a PD, most carry laptops around.  This is a a good idea, but will be low priority at this time.

[2021-09-05 00:31] #14 closed

[2021-09-09 00:30] #17 closed

[2021-09-09 00:30] #18 closed

[2021-09-09 00:30] #16 closed

[2021-09-09 13:26] demilolu commented on #15
@carleyreardon3 we're still looking at this. we're also doing some translation for our five fifths voter project. For that we're looking at Watson Natural Language Translator, but we're also thinking about how to crowdsource human translators/reviewers as well. For Hugging Face, i forget is it via API, I think the issue with BERT or similar transformer models is the computation required.

We might

[2021-09-10 17:03] demilolu opened #26 "Week of September 10th - September 24th"
**Sprint Priorities**

- [x] merge UI update PRs (@upkarlidder @wisdomkeeper) (UI)
- [ ] Documentation updates (@demilolu) - https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/27
- [ ] Unit Testing!!! @RickPoleshuck : all repos:
-  https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/28#issue-996449300
-  https://github.com/Call-for-Code-for-Racial-Jus

[2021-09-10 20:41] upkarlidder commented on #26
@demilolu we finished `merge UI update PRs`.

Thanks to @wisdomkeeper!

[2021-09-14 21:13] demilolu opened #27 "Documentation Updates"
### Background on the problem the feature will solve/improved user experience
New users to Open Sentencing might be a little confused in following the documentation

### Describe the solution you'd like
Suggest updates to documentation

### Tasks

- [ ] Review documentation
- [ ] Recruit community memebrs to review/hack a doc
- [ ] Open new issues for documentation updates
- [ ] Review suggested c

[2021-09-14 21:16] demilolu opened #28 "Unit Testing in Open Sentencing Repo"
### Background on the problem the feature will solve/improved user experience
Our code currently lacks unit testing, which is needed for test driven development practices: easy debugging, functional testing, etc.

### Describe the solution you'd like
Provide unit tests for various repositories

### Tasks

Description of the development tasks needed to complete this issue, including tests,

### Acc

[2021-09-14 21:20] demilolu opened #29 "Create data requirements"
### Background on the problem the feature will solve/improved user experience
Our app currently lacks the data we need to be able to provide public defenders with statistics they need on

### Describe the solution you'd like
We need to gather and specify our data requirements for the open sentencing app.

### Tasks

- [ ] Map out user journey
- [ ] Identify data needed at each step
- [ ] identify

[2021-09-15 15:17] Sabine-Justilien commented on #20
@RPoleshuck I'm happy to investigate this a bit more. I know that you also listed some other resources we may be able to tap into for data. It's on my list and I'll drop any feedback here as I get information.

[2021-09-15 17:04] demilolu opened #30 "Sign up here to join weekly community meeting"
If you'd like to join our weekly community meeting, comment below and tag @demilolu.

Meeting topics:
- Issue planning
- Updates
- Blockers/Brainstorming.

[2021-09-16 18:52] sforsyth089 commented on #29
We found our old requirements on Box. I would like to discuss at our meeting tomorrow (attached).
[Intake,Initiation,Disposition,Sentencing,Diversion.xlsx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/7180307/Intake.Initiation.Disposition.Sentencing.Diversion.xlsx)
[Mapping between Open Sentencing and Outcarcerate Schema v1.xlsx](https://github.com/Call-for-Code-for-Ra

[2021-09-16 19:03] sforsyth089 opened #31 "Identify risks/considerations associated with data gathering"
We need to clearly understand the risks/considerations involved in adding more data to our solution.  We'll then determine any follow-ups.

Start with brainstorming a list.  We can work as a team to take action. Consider a clear tracking spreadsheet or other method to ensure we've identified and cleared all risks.

Brainstorming (_please add/edit!_)
- Ensure data is free of cost
- Ensure legally w

[2021-09-16 19:22] demilolu commented on #29
ok sweet!

[2021-09-17 17:31] sforsyth089 commented on #31
I can draft a check list of our requirements by source.

[2021-09-21 20:17] upkarlidder commented on #29
Is this related to `Collect more data on plea stage to build out reporting later on how the tool is working ` that came out of the design thinking session?

[2021-09-24 17:19] demilolu opened #32 "Week of September 25 - October 29 (extended)"
**Sprint Priorities**

New info: Rensselaer Polytechnic Institute offered to help us out.  Upkar will talk on Slack/add to the meeting.

- [x] merge UI update PRs (@upkarlidder @wisdomkeeper) (UI) Upkar finishing
  - [x] https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-UI/pull/79
- [ ] Documentation updates (@demilolu) - https://github.com/Call-for-Code-for-Racial-Justice/Open-S

[2021-09-24 17:22] demilolu opened #33 "Akilah's UI updates: updating actual UI to be similar to prototype PRs here:"

[2021-09-24 17:40] #33 closed

[2021-09-24 17:55] demilolu opened #34 "Data Collection and Data Cleaning"
### Background on the problem the feature will solve/improved user experience
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Tasks
Description of the development tasks needed to complete this issue, including tests,

### Acceptance Criteria
Standards

[2021-09-28 19:07] demilolu opened #35 "Create greeting bot using Github Actions for new pull requests and issues"
## Background
We'd like to add a greeting bot that provides a comment when a new pull request or issue is made

# Solution
Use Github Actions to create a greeting bot for new issues and new pull requests in the Open-Sentencing repository.

Learn more about Github Actions [here](https://docs.github.com/en/actions/learn-github-actions/understanding-github-actions#create-an-example-workflow):

## Tas

[2021-10-05 01:23] demilolu opened #39 "Create Documentation Template"
### Background on the problem the feature will solve/improved user experience
Create a Documentation Template for Open Sentencing

### Describe the solution you'd like
Add a .md file to the Github Issues Templates to create a new template

### Tasks

1. copy the text in the following link:  https://raw.githubusercontent.com/Call-for-Code-for-Racial-Justice/Hacktoberfest/main/.github/ISSUE_TEMPLATE

[2021-10-05 01:25] demilolu opened #40 "Create Bug Report Template"
### Background on the problem the feature will solve/improved user experience
Create a Bug Report Template for Open Sentencing

### Describe the solution you'd like
Add a .md file to the Github Issues Templates to create a new template

### Tasks

1. copy the text in the following link:  https://raw.githubusercontent.com/Call-for-Code-for-Racial-Justice/Hacktoberfest/main/.github/ISSUE_TEMPLATE/bu

[2021-10-05 01:26] demilolu opened #41 "Create Pull Request Template"
### Background on the problem the feature will solve/improved user experience
Create a Pull Request Template for Open Sentencing

### Describe the solution you'd like
Add a .md file to the .github/ folder  to create a new pull request template

### Tasks

1. copy the text in the following link:  https://raw.githubusercontent.com/Call-for-Code-for-Racial-Justice/Hacktoberfest/main/.github/pull_requ

[2021-10-05 13:23] HarshitaDPoojary commented on #41
I would like to work on this issue.
Thank you.

[2021-10-05 13:44] HarshitaDPoojary commented on #41
Hi @demilolu , I raised the pull request but it shows some error in pull request as shown below:

![Screenshot from 2021-10-05 19-10-51](https://user-images.githubusercontent.com/27733998/136035082-063de09d-fe16-414e-8944-7743f11e045e.png)

Kindly help me with the solution to resolve the issue.

Thanks.

[2021-10-05 14:00] demilolu commented on #41
Hi Harshita, you have to sign off with the DCO. @HarshitaDPoojary. Click on details there to fix it.

[2021-10-05 14:34] HarshitaDPoojary commented on #41
Thanks @demilolu, I was able to resolve the issue. Raised the PR #44  for the same.

[2021-10-05 20:49] #35 closed

[2021-10-06 05:59] ashwinexe commented on #40
Can I work on this?

[2021-10-06 21:31] roshni-patel commented on #39
Hi, can I work on this issue?

[2021-10-06 23:47] demilolu commented on #40
@ashwinexe yes you can. assigning it.

[2021-10-08 17:41] #25 closed, assigned to nobody

[2021-10-09 03:19] ashwinexe commented on #40
Hey can you help me out? DCO says `sign-off is missing` I have executed commands suggested by it but the check sill fails

[2021-10-11 16:15] sforsyth089 commented on #20
Hi all, Closing this as we are tracking data investigation work on it's own issue, please continue any work on this and update there.

Update findings here:
https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/31

Thank you!
Stacy

[2021-10-11 16:35] sforsyth089 opened #47 "Create Email Template(s) For Reaching out for Data"
### Background on the problem the feature will solve/improved user experience
We will have to reach out to multiple entities for data.  Ideally we have an easy to use/adjust started document for this purpose.

### Describe the solution you'd like
A template email for getting in touch with states/ etc explaining our needs.

### Acceptance Criteria
Team approves and represents our project well.

THI

[2021-10-11 18:59] joannhh commented on #31
Added a data source being investigated.
[Copy of Data.Source.Inventory.Open.Sentencing.1.xlsx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/7324756/Copy.of.Data.Source.Inventory.Open.Sentencing.1.xlsx)

[2021-10-22 17:19] sforsyth089 opened #48 "Create a Skills List for Our Team"
### Background on the problem the feature will solve/improved user experience
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Tasks
Description of the development tasks needed to complete this issue, including tests,

### Acceptance Criteria
Standards

[2021-10-29 21:58] joannhh commented on #29
Meeting held on 10/23/21 (Hui/Stacy/Jo Ann)
- Discussed that Hui and Tyler reviewed NY State database and saw that it's similar to Cook County
- Hui will have Tyler to share the NY State email request with Stacy so that the context can be incorporated into the overall data collection task
- Based on additional research, Florida would possibly be a good target dataset: http://www.dc.state.fl.us/pub

[2021-10-29 22:00] joannhh commented on #47
Meeting held on 10/23/21 (Hui/Stacy/Jo Ann)
- Will engage Sabine for any data requests that may require budget
- Discussed that Hui and Tyler reviewed NY State database and saw that it's similar to Cook County
- Hui will have Tyler to share the NY State email request with Stacy so that the context can be incorporated into the overall data collection task
- Based on additional research, Florida wou

[2021-11-01 18:50] sforsyth089 commented on #48
Still working on

[2021-11-01 18:56] sforsyth089 commented on #47
Hui sent emails we can start with. Hui - Can you attach here?

Florida asked for data to be submitted through public records system: "Please submit your request through our public records system (https://clicktime.symantec.com/3LsRQCFEmSae8cdTnDpHJ2n7Vc?u=http%3A%2F%2Fwww.dc.state.fl.us%2Fcomm%2FPRR.html).  "

[2021-11-03 17:12] demilolu opened #50 "Gathering sentencing data across states & counties (Cohort)"
### Description & Problem Statement
Sentencing for various charges might differ by county, etc. Thus granularity of location is needed to better assess potential racial bias in sentencing.

## Solution
Gather new data sources for sentencing data from various counties, states.

### Skills Required

### Resources
- [Swagger file ](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-A

[2021-11-05 17:26] demilolu opened #51 "Sprint 4: Nov 8 - Nov 19, 2021"
**Sprint Priorities**
- [ ] https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-UI/issues/63
- [ ] https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-Aggregator/pull/20 @upkarlidder to review
- [ ] Creating Data requirements that we need @sforsyth089 @joannhh  (general) - https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/29#issue-996451761

[2021-11-12 18:17] sforsyth089 commented on #48
Reviewing over Slack with Demi

[2021-11-12 18:42] sforsyth089 opened #52 "Find a Case or Two / User Stories"
### Background on the problem the feature will solve/improved user experience
Stacy will find 1-2 cases and write the user stories.

Once user stories are in place... we'll have a
1.5 Hour meeting with this team to go through UI/data connection. @wisdomkeeper @siranjujugi @upkarlidder

[2021-11-12 18:49] #27 closed

[2021-11-15 18:53] Sabine-Justilien opened #53 "Accessibility Testing - Level 1"
### Background on the problem the feature will solve/improved user experience
Software, whether it is web enabled or not, has the ability to function and behave in a way to help those who have certain disabilities. For example, by incorporating certain bits of code, a blind user can navigate an application and hear a screen reader recite every position their keyboard focus lands. Incorporating oth

[2021-11-18 05:46] thenickcox commented on #30
@demilolu Hi there. Looks like an interesting project. Hoping to get more context and figure out where my skills might be useful. I'd love to hear more about the weekly meeting. Thanks.

[2021-11-18 05:48] upkarlidder commented on #30
@thenickcox wonderful! We have a fun group. Look forward to talking to you!

[2021-11-18 22:20] sforsyth089 commented on #52
[User Stories Open Sentencing.docx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/7566392/User.Stories.Open.Sentencing.docx)
please review @upkarlidder @siranjujugi @wisdomkeeper and we can meet when everyone is ready.

[2021-11-19 18:17] sforsyth089 commented on #52
Stacy will break up into 2 main Use Cases / and multiple user stories. "Looking up old fields" as "Use Case" then more ways to do that as stories.  This will help with navigating items in the UI.

[2021-11-19 18:21] sforsyth089 opened #54 "Move Assests (files etc) to New Assets folder for Non-IBMers"

[2021-11-19 18:32] sforsyth089 commented on #48
Shari will help with the survey monkey for our team.  Demi will take a look soon!

[2021-11-19 18:37] demilolu commented on #50
Add:
- list of data we have added already
- list of datasets we've reached out to
- template for outreach

[2021-11-19 18:39] sforsyth089 commented on #50
https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/issues/31
Refer to this issue for our running list of items.

[2021-11-19 18:49] sforsyth089 commented on #51
New Sprint started

[2021-11-19 18:49] #51 closed

[2021-11-22 16:11] sforsyth089 commented on #52
[User Stories Open Sentencing.docx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/7582603/User.Stories.Open.Sentencing.docx)
Updated per our meeting on Friday.

[2021-11-22 16:12] sforsyth089 commented on #34
This work is referenced in another issue now.

[2021-11-22 16:12] #34 closed

[2021-12-03 15:04] Sabine-Justilien commented on #53
@sforsyth089 This work is going to be done in January-March 2021 by a corporate cohort

[2021-12-03 18:13] demilolu commented on #48
@sforsyth089 this looks fine to me. you can also check out our community survey which is a bit more granular if you want to do that: https://ibm.biz/CFCFRJ-Survey

[2021-12-06 06:02] jross1996 commented on #47
Hi Team! I'm new to this project, is this still an open issue? I could help submit public records requests if that would be useful

[2021-12-06 06:04] jross1996 commented on #30
@demilolu I'd like to join the weekly meeting if possible!

[2021-12-06 16:12] Sabine-Justilien opened #55 "Design Refresh: Open Sentencing"
### Background on the problem the feature will solve/improved user experience

A design refresh involves style updates that don’t impact the underlying structure or functionality of the interface. Think updated font stacks, revised color palettes, or a new style direction for supporting assets. These types of changes breathe new life while still maintaining familiarity with  users. 

### Tasks

De

[2021-12-06 16:28] demilolu commented on #30
Absolutely!  @jross1996. sorry for the delay @thenickcox!

Pls join us in Slack if you can: callforcode.org/slack and DM me: Demi Ajayi and I'll get you connected.

Our Open sentencing channel is #racial-justice-open-sentencing

[2021-12-06 16:36] demilolu opened #56 "Legit-Info Documentation Updates"
## Background

Legit info has extensive documentation on frontend application and backend services. We would like you try out the application and suggested improvements to the documentation.

During this cohort your team members will also be making updates to the Legit-Info application. We would like to document these new changes in our documentatin as well.

## Tasks
Adding new documentation
- [

[2021-12-08 13:56] demilolu commented on #47
@jross1996 we'd love to have you join our efforts! cc: @sforsyth089 @joannhh

[2021-12-08 22:51] joannhh commented on #47
Hi @jross1996 Thank you! Yes, most definitely, we can use your help.  Some of the key items within a rich datasets are: race, gender, charges, location, case ID

Let us know if you have further questions and if you're successful in gathering any data! @sforsyth089

[2021-12-08 23:09] jross1996 commented on #47
Great! I’ll start searching and keep you all posted!

[2021-12-09 19:15] upkarlidder opened #57 "Create lab environment"
### Background on the problem the feature will solve/improved user experience
Developers learn best by example and demonstration. We would like you to create a tutorial, or lab, for new developers to run through and get the application running in a sandbox environment. ​

### Describe the solution you'd like
Lab that walks learner through Open Sentencing solution and sets up dependencies to run th

[2021-12-09 19:39] upkarlidder commented on #56
@demilolu to add repos

[2021-12-09 19:45] upkarlidder opened #58 "CI/CD with Github Actions"
### Background on the problem the feature will solve/improved user experience
Manual cloud deployments are tedious.

### Describe the solution you'd like
Once we've validated our manual deployments we would like to haveCI/CD to deploy easily to cloud.

### Tasks

Add github actions for:
- [ ] building
- [ ] unit testing
- [ ] accessibility testing
- [ ] linting
- [ ] deployment

Related Issues:
-

[2021-12-10 18:09] upkarlidder commented on #29
FYI @Corey-keyser

[2021-12-20 22:38] joannhh commented on #54
In process -- files still being reviewed for applicability to all.

[2022-01-07 17:42] demilolu commented on #53
not stale!

[2022-01-07 17:52] demilolu opened #65 "Accessibility Starter Kit: Open Sentencing"
### Background on the problem the feature will solve/improved user experience
Open Sentencing needs to improve its web accessibility to be more inclusive of our end-users.

### Describe the solution you'd like
To this end in this project we'd like to:

- [ ] perform automatic testing to assess Level 1 accessibility (see reference issue)
- [ ] document and fix issues raised by automatic accessibili

[2022-01-07 19:10] demilolu commented on #55
not needed for open sentencing. issu will be in open sentencing ui

[2022-01-10 16:00] demilolu commented on #28
this issue is still active

[2022-01-21 18:41] upkarlidder commented on #52
@wisdomkeeper
- [ ] create usecases.md file
- [ ] add to the main readme as a subsection after the video

[2022-01-21 18:45] upkarlidder commented on #54
@joannhh reviewing files to determine what can be made public.

The team decided to host on GitHub itself as these are historical files and won't need updates.

[2022-01-28 18:23] upkarlidder commented on #54
@joannhh any updates? Thank you!

[2022-01-28 18:24] upkarlidder commented on #52
@wisdomkeeper any updates? Thank you!

[2022-01-28 18:25] upkarlidder commented on #48
@sforsyth089 to revisit next sprint. @demilolu

[2022-01-28 18:30] #32 closed

[2022-01-28 18:31] #26 closed

[2022-01-28 18:36] upkarlidder opened #66 "Transfer user stories to readme"
### Background on the problem the feature will solve/improved user experience
@sforsyth089  created user stories for #52. We need to transfer them to a md file in the main repo.

### Describe the solution you'd like
@wisdomkeeper
 - [ ] create usecases.md file
 - [ ] add link to the main readme as a subsection after the video

### Tasks
 - [ ] create usecases.md file
 - [ ] add to the main readme

[2022-01-28 18:36] upkarlidder commented on #52
Task moved to #66. Closing issue.

[2022-01-28 18:36] #52 closed

[2022-01-28 18:42] upkarlidder commented on #54
Created `assets` folder in the main repo. #67

@joannhh and @sforsyth089 to add files here and link from the main readme.

[2022-01-28 18:59] upkarlidder opened #68 "Investigate feature to target states that have data available"
### Background on the problem the feature will solve/improved user experience
The solution does not have data for all states.

### Describe the solution you'd like
Add a component to the solution that filters by state.

### Tasks
- [ ] ask for state before the `add a case` step
- [ ] redirect to modal that either
   - [ ] takes to use to the bias detector if state data is available
   - [ ] notifi

[2022-01-28 21:55] upkarlidder commented on #55
Opened by mistake.

[2022-01-28 21:55] #55 closed

[2022-02-01 15:53] sforsyth089 opened #69 "Identify Data Gaps or Needs for Each Step (Based on User Stories)"
### Background on the problem the feature will solve/improved user experience
Based on reviewing/implementing updates from the user stories, work on figuring out any data missing or still needed.  Document clearly.

### Describe the solution you'd like
Once User Stories put into place, figure out if all data is there or more is needed.  Document clearly.

### Acceptance Criteria
Mark the data goin

[2022-02-01 15:55] sforsyth089 opened #70 "New Review/Look for Risks"
### Background on the problem the feature will solve/improved user experience
We need to keep looking out for any new risks as we make changes. Need someone to review/comment if we see any news risks in terms of data, licenses, or other ideas.

### Describe the solution you'd like
A write up after someone reviews for risks.

### Acceptance Criteria
Write up in issue.  Approval by a team member.

[2022-02-01 15:57] sforsyth089 commented on #31
Refer to assets for the latest list.

[2022-02-01 16:01] sforsyth089 opened #71 "Write Up Complexity of Finding Sentencing Data"
### Background on the problem the feature will solve/improved user experience
Overall, we've done work on finding sentencing data.  It varies by County, State, Federal. Sometimes race data isn't available, sometimes it is.  Sometimes it's not accessible readily on websites, sometimes it is.  We'd like a concise write up about our challenges to bring to attention of policy groups that could help dr

[2022-02-01 20:43] joannhh commented on #54
Still in process -- on target to upload the files by Friday.

[2022-02-04 05:28] joannhh commented on #54
@upkarlidder I have some files ready to upload, but I don't appear to have file upload access to the new assets folder you created...

[2022-02-04 18:14] sforsyth089 commented on #48
Try a Google Form.  Questions look ok.  Stacy will research a solution this week.

[2022-02-04 18:27] sforsyth089 commented on #50
Duplicate, See Epic #31

[2022-02-04 18:27] #50 closed

[2022-02-04 18:51] sforsyth089 commented on #66
@wisdomkeeper will update design for us to react to

[2022-02-04 18:59] sforsyth089 commented on #30
We will add to the profile page of our project so it doesn't get lost.

[2022-02-04 18:59] #30 closed

[2022-02-05 00:37] upkarlidder commented on #54
Thank you @sforsyth089 and @joannhh for starting this work. Should we create a table in the [assets readme](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/blob/main/assets/README.md) explaining what each file is? That will help whoever comes to the assets folder for the first time. We should also add a link to the assets folder in the main project readme. I captured this idea

[2022-02-07 21:33] sforsyth089 opened #75 "Roles Based Entitlements and Access Requirements for Front and Back End"
### Background on the problem the feature will solve/improved user experience
We want users to identify whether they are the office staff or public defender.  Then we will give access based on who is utilizing the tool.

We need roles in Excel.  Then across Columns - put entitlement (Read Only, Update Only, Etc).
Try two stories read & write, and read only.  Need at minimum.  Can see from there is

[2022-02-09 21:52] edelgrace opened #76 "Current options for a client's race need to be verified"
### Background on the problem the feature will solve/improved user experience

In the aggregator, the following options for race are as below. Are these the correct values? For example, _White [Hispanic/Latino]_ is confusing.

![image](https://user-images.githubusercontent.com/3009729/153296262-b72ac11b-3b16-4dd4-a577-67995b02447a.png)

### Describe the solution you'd like

Get a clear list of the

[2022-02-11 18:12] joannhh commented on #54
Upkar will open a new issue to accommodate the last comment.

[2022-02-11 18:12] #54 closed

[2022-02-11 18:19] joannhh commented on #66
#75 Related to this one, looking for a new user story. The decision point is to add user stories to the Assets folder and direct people there.

[2022-02-11 18:24] upkarlidder opened #77 "Add list of documents in the assets folder to the readme"
### Background on the problem the feature will solve/improved user experience
Thank you @sforsyth089 and @joannhh for finishing #54. The team decided to create a table or add a list in the [assets readme](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/blob/main/assets/README.md) describing the content of the folder. That will help whoever comes to the assets folder for the fir

[2022-02-11 18:32] demilolu commented on #76
here's from the DOI:  https://www.doi.gov/pmb/eeo/directives/race-data

[2022-02-11 18:55] joannhh commented on #76
Ok, reviewing the docs and will confirm.

[2022-02-11 19:43] joannhh commented on #76
@demilolu Here's the background on Open Sentencing's use of the "race" field:

- The "Race" intake field represents the: "Race of defendant **reported by law enforcement** or **self-reported**"

- Open Sentencing used the intake fields based on Cook County's dataset: ==> https://datacatalog.cookcountyil.gov/Courts/Sentencing/tg8v-tm6u/data

- **NOTE**: The Cook County dataset uses "White [Hispanic

[2022-02-14 14:16] sforsyth089 commented on #75
Sorry for the delay, I should be finished today.

[2022-02-14 21:26] sforsyth089 commented on #75
[Open Sentencing User Roles.xlsx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/8064117/Open.Sentencing.User.Roles.xlsx)

[2022-02-16 16:36] demilolu commented on #76
thanks @joannhh ,

looking here at the DOI here: https://www.doi.gov/pmb/eeo/directives/race-data

and https://www.census.gov/quickfacts/fact/note/US/RHI625219

<img width="1055" alt="Screen Shot 2022-02-16 at 11 32 44 AM" src="https://user-images.githubusercontent.com/3202514/154311742-a886ed3c-1a46-4e37-9e1e-c4ed6e126144.png">

I'd recommend:

-     American Indian or Alaska Native
-     Asian
-

[2022-02-16 20:30] edelgrace commented on #76
Thanks for looking into this @joannhh and @demilolu!

I think those options make more sense and should be doable to implement.

[2022-02-18 18:38] sforsyth089 commented on #76
Idea: Make display of races based on our best data sets right now.  Add a warning that is how we selected race/understanding that it is complex and may change over time. "If your race isn't represented, give us feedback (or something)"

[2022-02-18 18:41] demilolu commented on #76
we discussed this more, I updated above accordingly @edelgrace @joannhh

[2022-02-18 18:49] sforsyth089 opened #78 "ETL for Race Data"
### Background on the problem the feature will solve/improved user experience
Once we determine the races that the front-end will show, we need ETL to translate data from each data source.

[2022-02-18 19:04] demilolu commented on #75
@btpull please see the user roles above for your flowchart work in the aggregator repo

[2022-02-21 15:43] btpull commented on #75
@sforsyth089 I added a Roles - Entitlements tab and a Data Model tab
[Open.Sentencing.User.Roles.xlsx](https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing/files/8110671/Open.Sentencing.User.Roles.xlsx)

[2022-02-25 18:13] sforsyth089 commented on #77
This is complete!

[2022-02-25 18:13] #77 closed, assigned to joannhh

[2022-02-25 22:03] sethb4 commented on #76
Pull request for changes to the backend aggregator are in https://github.com/Call-for-Code-for-Racial-Justice/Open-Sentencing-Aggregator/pull/53.

[2022-03-31 15:58] joannhh commented on #76
Input provided and project completed; therefore closing out.

[2022-03-31 15:58] #76 closed, assigned to joannhh

[2022-04-01 17:25] demilolu opened #79 "Implement Role Based Entitlements"
### Background on the problem the feature will solve/improved user experience
Refer to #75 and implement.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Tasks
Description of the development tasks needed to complete this issue, including tests,

### Acceptance Criteria
Standards we believe this issue must reach to be considered complete and re

[2022-04-01 17:25] #75 closed, assigned to sforsyth089